$georgia: ('Georgia', 'Times New Roman', 'Times', serif);
$arial: ('Arial', sans-serif);

$primary: #F1CDB3;
$primary-l: #FDDCC4;
$light-s: #FAFAFA;
$light-l: #F6F6F6;
$dark-s: #CDCDCD;
$dark-m: #B2B2B2;
$dark-l: #545454;
$dark-xl: #4C4C4C;
$dark-3xl: #292929;

$laptop-width: 1064px;
$tablet-width: 767px;


@mixin media-tablet {
    @media screen and (max-width: $laptop-width) { @content; }
}

@mixin media-mobile {
    @media screen and (max-width: $tablet-width) { @content; }
}

@mixin transition ($prop: all) {
    transition: $prop 0.5s ease-in;
}

@mixin font ($size, $weight: 400, $style: normal, $lineheight: $size, $spacing: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $lineheight;
    letter-spacing: $spacing;
}

@mixin flex ($flexdir: row, $justifycont: space-between, $alignitems: normal) {
    display: flex;
    flex-direction: $flexdir;
    justify-content: $justifycont;
    align-items: $alignitems;
}

// Basic settings

html {
    font-size: 10px;
}


* {
    margin: 0;
    border: none;
    padding: 0;
    scroll-behavior: smooth;
}

header,
footer,
section,
div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: $georgia;
    line-height: 130%;
    margin: 0;
}

body {
    font-family: $georgia;
}

header {
    @include flex ($flexdir: row, $justifycont: space-between, $alignitems: center);
    @include media-mobile {
        padding: 0 10px 0;
    }
}

img {
    display: block;
    margin: 0;
    border: none;
}

h1 {
    @include font ($size: 4.4rem, $lineheight: 130%);
    color: white;
    @include media-mobile {
        font-size: 2.5rem;
        letter-spacing: 0.06em;
    }
}

h2 {
    @include font ($size: 3.5rem, $lineheight: 130%, $spacing: 0.06em);
    color: $dark-l;
    @include media-mobile {
        font-size: 2.5rem;
        text-align: center;
    }
}

h3 {
    @include font ($size: 2rem, $lineheight: 115%, $spacing: 0.06em);    
    display: inline;
    color: $dark-l;
    @include media-mobile {
        font-size: 2.5rem;
    }
}

h4 {
    @include font ($size: 1.5rem, $lineheight: 110%, $spacing: 0.06em);
    margin: 0;
    color: $dark-l;
}

p {
    @include font ($size: 1.5rem, $lineheight: 160%);
    font-family: $arial;
    color: $dark-xl;
    margin: 0;
}

