$button-height: 52px;

button {
    @include flex ($flexdir: row, $justifycont: center, $alignitems: center);
    width: fit-content;
    height: $button-height;
    font-family: $georgia;
    @include font ($size: 1.7rem, $spacing: 0.06em);
    padding: 15px 45px;
    border: 2px solid $primary;
    border-radius: 100px;
    cursor: pointer;

    &.button-primary {
        background-color: $primary;

        &:hover {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }
    }

    &.button-secondary {
        background-color: transparent;

        &:hover {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }
    }

    &.round-button {
        background-color: transparent;
        width: $button-height;
        padding: 15px 15px;
        font-weight: bold;
        &.inactive {
            color: $dark-s;
            border-color: $dark-s;
            pointer-events: none;
        }
        &.active {
            background-color: $primary;
            border-color: $primary;
            pointer-events: none;
            @include font ($size: 2rem, $weight: 400);

        }
        &:hover {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }        
    }

}

.card {
    @include flex ($flexdir: column, $justifycont: space-between, $alignitems: center);
    min-height: 435px;
    background-color: $light-s;
    border-radius: 9px;
    @include transition (background-color);

    p {
        font-family: $georgia;
        @include font ($size: 2rem, $spacing: 0.06em);
    }

    button {
        margin-bottom: 30px;
    }

    &:hover {
        background-color: white;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        @include transition (all);
        cursor: pointer;

        button {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }
    }
}