$button-height: 52px;

button {
    @include flex ($flexdir: row, $justifycont: center, $alignitems: center);
    width: fit-content;
    height: $button-height;
    font-family: $georgia;
    @include font ($size: 1.7rem, $spacing: 0.06em);
    padding: 15px 45px;
    border: 2px solid $primary;
    border-radius: 100px;
    cursor: pointer;

    &.button-primary {
        background-color: $primary;

        &:hover {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }
    }

    &.button-secondary {
        background-color: transparent;

        &:hover {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }
    }

    &.round-button {
        background-color: transparent;
        width: $button-height;
        padding: 15px 15px;
        font-weight: bold;

        &.inactive {
            color: $dark-s;
            border-color: $dark-s;
            pointer-events: none;
        }

        &.active {
            background-color: $primary;
            border-color: $primary;
            pointer-events: none;
            @include font ($size: 2rem, $weight: 400);

        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $primary-l;
                border-color: $primary-l;
                @include transition (background-color);
            }
        }
    }

}

%burger-line {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $primary;
    height: 2px;
    width: 100%;
}

.burger {
    display: none;
    position: relative;
    z-index: 80;
    width: 30px;
    height: 22px;
    transform: rotate(0);
    @include transition (transform);

    @include media-mobile {
        display: block;
    }

    &.active {
        transform: rotate(90deg);
        @include transition (transform);
    }
}

.burger-line {
    @extend %burger-line;
    top: calc(50% - 1px);
    left: 0;

    &:before {
        @extend %burger-line;
        transform: translateY(-10px);
    }

    &:after {
        @extend %burger-line;
        transform: translateY(10px);
    }
}

.card {
    @include flex ($flexdir: column, $justifycont: space-between, $alignitems: center);
    width: 270px;
    min-width: 270px;
    min-height: 435px;
    background-color: $light-s;
    border-radius: 9px;
    @include transition (background-color);

    p {
        font-family: $georgia;
        @include font ($size: 2rem, $spacing: 0.06em);
    }

    button {
        margin-bottom: 30px;
    }

    &:hover {
        background-color: white;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        @include transition (all);
        cursor: pointer;

        button {
            background-color: $primary-l;
            border-color: $primary-l;
            @include transition (background-color);
        }
    }
}

// Подложка меню и модалок
.overlay {
    position: fixed;
    border: none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    // z-index: 98;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    background-color: black;

    &.active {
        pointer-events: auto;
        opacity: 0.6;
        @include transition(opacity);
    }
}

.disable-scroll {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}