header {
    &.pets-header {
        max-width: 1280px;
        padding: 30px 40px;
        margin: auto;
        
        .burger{
            .burger-line {
                background-color: black;
                @include transition (background-color);
                &:before, &:after {
                    background-color: black;
                    @include transition (background-color);
                }    
            }

            &.active {
                .burger-line {
                background-color: $primary;
                @include transition (background-color);
                &:before, &:after {
                    background-color: $primary;
                    @include transition (background-color);
                }    
            }
            }
        }

        @include media-tablet {
            padding: 30px 30px;
        }
        @include media-mobile {
            padding: 30px 20px;
        }
    }
}

.logo-text {
    &.pets {
        color: $dark-l;
        &:hover {
            color: $primary;
            @include transition (color);
        }
    }
}

.logo-slogan {
    &.pets {
        color: $dark-3xl;
    }
}

.main-menu {
    ul {
        li {
            &.pets {
                color: $dark-l;
                @include media-mobile {
                    color: $dark-s;
                }
                &:active {
                    border-bottom: 3px solid $primary;                    
                }
                &.pets-act {
                    color: $dark-3xl;
                    @include media-mobile {
                        color: $light-s;
                    }
                    border-bottom: 3px solid $primary;
                    pointer-events: none;                    
                }                
                &:hover {
                    color: $dark-3xl;
                    @include transition (color);
                    cursor: pointer;                    
                }
            }
        }
    }
}

#friends-pets {
    background-color: $light-l;
}

.friends-pets-container {
    max-width: 1280px;
    margin: auto;
    padding: 80px 40px 100px;
    @include media-tablet {
        padding: 80px 30px 76px;
    }
    @include media-mobile {
        padding: 42px 10px;
    }
}

.gallery-pets {
    
    @include flex ($flexdir: column, $justifycont: space-between);
    h1 {
        @include font ($size: 3.5rem, $lineheight: 130%, $spacing: 0.06em);
        color: $dark-l;     
        text-align: center;
        max-width: 410px;
        margin: 0 auto 45px;
        @include media-tablet {
            margin: 0 auto 28px;
        }
        @include media-mobile {
            font-size: 2.5rem;
            margin: 0 auto 42px;
        }
    }
}

.gallery-body {
    @include flex ($flexdir: row, $justifycont: center, $alignitems: flex-start);
    flex-wrap: wrap;
    gap: 30px 40px;
    width: 100%;
    max-height: 930px;
    overflow: hidden;
    padding: 15px 0;
    @include media-tablet {
        max-height: 1365px;
        padding: 0;
    }
}

.pagination-gallery-pets {
    @include flex ($flexdir: row, $justifycont: center);
    gap: 20px;
    margin: 45px auto 0;
    @include media-tablet {
        margin: 40px auto 0;
    }
    @include media-mobile {
        gap: 10px;
        margin: 42px auto 0;
    }    
}
