html {
  font-size: 10px;
}

* {
  margin: 0;
  border: none;
  padding: 0;
  scroll-behavior: smooth;
}

header,
footer,
section,
div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  line-height: 130%;
  margin: 0;
}

body {
  font-family: "Georgia", "Times New Roman", "Times", serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

img {
  display: block;
  margin: 0;
  border: none;
}

h1 {
  font-size: 4.4rem;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  letter-spacing: normal;
  color: white;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: inline;
  color: #545454;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin: 0;
  color: #545454;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: normal;
  font-family: "Arial", sans-serif;
  color: #4C4C4C;
  margin: 0;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 1.7rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}
button.button-primary {
  background-color: #F1CDB3;
}
button.button-primary:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: background-color 0.3s ease-in;
}
button.button-secondary {
  background-color: transparent;
}
button.button-secondary:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: background-color 0.3s ease-in;
}
button.round-button {
  background-color: transparent;
  width: 52px;
  padding: 15px 15px;
  font-weight: bold;
}
button.round-button.inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
  pointer-events: none;
}
button.round-button.active {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
  pointer-events: none;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: normal;
}
button.round-button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: background-color 0.3s ease-in;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: background-color 0.3s ease-in;
}
.card p {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: 0.06em;
}
.card button {
  margin-bottom: 30px;
}
.card:hover {
  background-color: white;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.card:hover button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  transition: background-color 0.3s ease-in;
}

.initial-screen {
  background-image: url(../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.initial-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  min-height: 908px;
  width: 1280px;
  margin: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 184px;
  height: 60px;
}

.logo-text {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #F1CDB3;
  margin: 0;
}
.logo-text:hover {
  color: #FDDCC4;
  transition: color 0.3s ease-in;
}

.logo-slogan {
  font-family: "Arial", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: white;
  margin: 0;
}

.main-menu ul {
  display: flex;
  gap: 35px;
  align-items: center;
  list-style: none;
}
.main-menu ul li {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: normal;
  color: #CDCDCD;
}
.main-menu ul li:hover {
  color: #FAFAFA;
  transition: color 0.3s ease-in;
  cursor: pointer;
}
.main-menu ul li:active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
.main-menu ul li.act {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  gap: 42px;
  padding: 0 40px;
}
.intro .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 322px;
  margin-top: 163px;
}
.intro .intro-text p {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 160%;
  letter-spacing: normal;
  color: #CDCDCD;
}
.intro .intro-image {
  padding: 0;
  border: none;
}

#about {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 120px;
  padding: 80px 40px 100px;
}
#about .about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  max-width: 430px;
  margin: 14px 0;
}
#about .about-image {
  padding: 0;
  border: none;
}

.slider {
  background-color: #F6F6F6;
}

.slider-container {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px 100px;
}
.slider-container h2 {
  text-align: center;
  width: 35%;
  margin: auto;
}
.slider-container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.slider-container .wrapper .slider-nav-left {
  width: 105px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: normal;
}
.slider-container .wrapper .slider-nav-right {
  width: 105px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: normal;
}

.slider-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 100%;
}

.slider-footer button {
  margin: auto;
}

#needs {
  width: 1280px;
  margin: auto;
  padding: 80px 40px 100px;
}
#needs h2 {
  width: 35%;
  margin: auto;
  text-align: center;
}
#needs .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
  gap: 55px 120px;
  padding: 60px 83px 0;
}
#needs .badge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 113px;
}
#needs p {
  font-family: "Georgia", "Times New Roman", "Times", serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 0.06em;
}
#needs img {
  width: 60px;
}

.donation {
  background-color: #F6F6F6;
}

.donation-container {
  width: 1280px;
  margin: auto;
  padding: 80px 40px 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.donation-container .donation-text {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
}
.donation-container .payment-details {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}
.donation-container .payment-details img {
  display: inline;
  margin-right: 15px;
}
.donation-container .payment-details a:hover {
  color: #292929;
  transition: color 0.3s ease-in;
}
.donation-container h2 {
  width: 80%;
}
.donation-container p {
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
  letter-spacing: normal;
  color: #B2B2B2;
}

footer {
  background: url(../images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-container {
  width: 1280px;
  margin: auto;
  padding: 40px 40px 0;
  display: flex;
  justify-content: left;
}
.footer-container .footer-column {
  padding: 16px 0 60px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}
.footer-container .footer-column img {
  display: inline-block;
  margin-right: 20px;
}
.footer-container .footer-column div {
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer-container .footer-column h2 {
  color: white;
}
.footer-container .footer-column h3 {
  color: #F1CDB3;
}
.footer-container .footer-column h3:hover {
  color: white;
  transition: color 0.3s ease-in;
}
.footer-container .footer-column.one {
  width: 288px;
}
.footer-container .footer-column.two {
  width: 312px;
}

header.pets-header {
  width: 1280px;
  margin: auto;
}

.logo-text.pets {
  color: #545454;
}
.logo-text.pets:hover {
  color: #F1CDB3;
  transition: color 0.3s ease-in;
}

.logo-slogan.pets {
  color: #292929;
}

.main-menu ul li.pets {
  color: #545454;
}
.main-menu ul li.pets:active {
  border-bottom: 3px solid #F1CDB3;
}
.main-menu ul li.pets.pets-act {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}
.main-menu ul li.pets:hover {
  color: #292929;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

#friends-pets {
  background-color: #F6F6F6;
}

.friends-pets-container {
  width: 1280px;
  margin: auto;
  padding: 80px 40px 100px;
}

.gallery-pets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}
.gallery-pets h1 {
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  width: 35%;
  margin: 0 auto 45px;
}

.gallery-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px 40px;
  width: 100%;
  padding: 15px 0;
}

.pagination-gallery-pets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  gap: 20px;
  margin: 45px auto 0;
}/*# sourceMappingURL=main.css.map */