$georgia: Georgia, 'Times New Roman', Times, serif;
$arial: Arial, sans-serif;
$primary: #F1CDB3;
$light-s: #FAFAFA;
$light-l: #F6F6F6;
$dark-s: #CDCDCD;
$dark-m: #B2B2B2;
$dark-l: #545454;
$dark-xl: #4C4C4C;

@mixin brown-background {
    background-image: url(../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

@mixin header-text {
    font-family: $georgia;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}


body {
    font-family: $georgia;
    font-weight: 400;
    width: 1280px;
    margin: auto;
    box-sizing: content-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;

}

img {
    display: block;
    margin: 0;
    border: none;
}

h1 {
    @include header-text;
    font-size: 44px;
    color: white;
}

h2 {
    @include header-text;
    font-size: 35px;
    letter-spacing: 0.06em;
    color: $dark-l;
}

h3 {
    display: inline;
    font-family: $georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $dark-l;
    margin: 0;
}

h4 {
    font-family: $georgia;
    line-height: 110%;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.06em;
    color: $dark-l;        
    margin: 0;
}

p {
    font-family: $arial;
    font-size: 15px;
    line-height: 160%;
    color: $dark-xl;
    margin: 0;
}

$button-height: 52px;
button {
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    height: $button-height;
    font-family: $georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding: 15px 45px;
    border: medium solid $primary;
    border-radius: 100px;
    &.button-primary {
        background-color: $primary;
    }
    &.button-secondary {
        background-color: transparent;
    }
    &.slider-button {
        background-color: transparent;
        width: $button-height;
        padding: 15px 15px;
        font-weight: bolder;
    }

}



.initial-screen {
    @include brown-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    min-height: 908px;

}

.logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-family: $georgia;
    font-weight: 400;
    font-size: 2em;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: $primary;
    margin: 0;
}

.logo-slogan {
    font-family: $arial;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 0.1em;
    line-height: 15px;
    color: white;
    margin: 0;
}

.main-menu {
    ul {
        display: flex;
        gap: 35px;
        align-items: center;
        list-style: none;

        li {
            font-family: $arial;
            font-size: 15px;
            color: $dark-s;
        }
    }
}

.intro {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    padding: 0 40px;

    .intro-text {
        height: 322px;
        margin-top: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        p {
            font-family: $arial;
            font-size: 15px;
            line-height: 160%;
            color: $dark-s;
        }
    }
    .intro-image {
        padding: 0;
        border: none;
    }
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    gap: 120px;
    padding: 80px 40px 100px;
    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        max-width: 430px;
        margin: 14px 0;
    }
    .about-image {
        padding: 0;
        border: none;        
    }
}

.slider {
    background-color: $light-l;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 40px 100px;
    h2 {
        text-align: center;
        width: 35%;
        margin: auto;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
        .slider-nav-left {
            width: 105px;
            display: flex;
            justify-content: left;
        }
        .slider-nav-right {
            width: 105px;
            display: flex;
            justify-content: right;            
        }
    }
    .slider-body {
        display: flex;
        justify-content: center;
        gap: 90px;
        align-items: center;
        width: 100%;        
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 435px;
        background-color: $light-s;
        p {
            font-family: $georgia;
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.06em;
        }
        button {
            margin-bottom: 30px;
        }        
    }
    .slider-footer {
        button {
            margin: auto;
        }
    }
}

.needs {
    padding: 80px 40px 100px;
    h2 {
    width: 35%;    
    margin: auto;
    text-align: center;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 55px 120px;
        padding: 60px 87px 0;
    }
    .badge {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 113px;
        
    }
    p {
        font-family: $georgia;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    }
    img {
        width: 60px;
    }
}

.donation {
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $light-l;
    .donation-text {
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-start;
        gap: 20px;
        padding: 0;
    }
    .payment-details {
        display: inline-flex;
        justify-content: left;
        align-items: center;
        padding: 10px 15px;
        background-color: $primary;
        border-radius: 9px;
        img {
            display: inline;
            margin-right: 15px;
        }    
    }        
    h2 {
        width: 80%;
    }
    p {
        font-family: $arial;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: $dark-m;
    }
}
