body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  width: 1280px;
  margin: auto;
  box-sizing: content-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

img {
  display: block;
  margin: 0;
  border: none;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 44px;
  color: white;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 35px;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  border: medium solid #F1CDB3;
  border-radius: 100px;
}
button.button-primary {
  background-color: #F1CDB3;
}
button.button-secondary {
  background-color: transparent;
}
button.slider-button {
  background-color: transparent;
  width: 52px;
  padding: 15px 15px;
  font-weight: bolder;
}

.initial-screen {
  background-image: url(../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 908px;
}

.logo {
  width: 184px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #F1CDB3;
  margin: 0;
}

.logo-slogan {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 15px;
  color: white;
  margin: 0;
}

.main-menu ul {
  display: flex;
  gap: 35px;
  align-items: center;
  list-style: none;
}
.main-menu ul li {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #CDCDCD;
}

.intro {
  display: flex;
  justify-content: space-between;
  gap: 42px;
  padding: 0 40px;
}
.intro .intro-text {
  height: 322px;
  margin-top: 163px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.intro .intro-text p {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
.intro .intro-image {
  padding: 0;
  border: none;
}

.about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 120px;
  padding: 80px 40px 100px;
}
.about .about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  max-width: 430px;
  margin: 14px 0;
}
.about .about-image {
  padding: 0;
  border: none;
}

.slider {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px 100px;
}
.slider h2 {
  text-align: center;
  width: 35%;
  margin: auto;
}
.slider .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}
.slider .wrapper .slider-nav-left {
  width: 105px;
  display: flex;
  justify-content: left;
}
.slider .wrapper .slider-nav-right {
  width: 105px;
  display: flex;
  justify-content: right;
}
.slider .slider-body {
  display: flex;
  justify-content: center;
  gap: 90px;
  align-items: center;
  width: 100%;
}
.slider .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 435px;
  background-color: #FAFAFA;
}
.slider .card p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}
.slider .card button {
  margin-bottom: 30px;
}
.slider .slider-footer button {
  margin: auto;
}/*# sourceMappingURL=styles.css.map */